.cli{
    background-image: url('https://t4.ftcdn.net/jpg/06/18/54/27/360_F_618542730_rsgbEklNgBbTpOp1JCwm81li8PN1XnSe.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}