.con1{
  margin-top: 80px;
}
.wrapper {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  .terms-and-conditions {
    margin-bottom: 20px;
  }
  
  .login-link {
    margin-top: 20px;
    text-align: center
  }